<!-- <div class="container">
<router-outlet></router-outlet>
</div>
<h1>XYZ BANK</h1>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><b>HOME</b></a></li>
      <li><a routerLinkActive="active" [routerLink]="['/create-account']"><b>CREATE ACCOUNT</b></a></li>
      <li><a href="#"><b>SHOW BALANCE</b></a></li>
      <li><a href="#"><b>DEPOSIT</b></a></li>
      <li><a href="#"><b>WITHDRAW</b></a></li>
      <li><a href="#"><b>FUND TRANSFER</b></a></li>
      <li><a href="#"><b>PRINT TRANSACTIONS</b></a></li>
    </ul>
  </div>
</nav> -->
<div class="main">
	<div class="row">
		<div class="col-sm-6">
		<div class="container">
			<div class="panel panel-default">
  				<div class="panel-heading"><h4><b>Welcome to Online XYZ</b></h4></div>
 				 <div class="panel-body">
 				 	<form>
 				 		<div class="form-group">
   							 <label for="username">Username:</label>
    							<input type="username" class="form-control" id="username" required>
  						</div>
 						 <div class="form-group">
    						<label for="pwd">Password:</label>
    							<input type="password" class="form-control" id="pwd" required>
  						</div>
  						<button type="submit" class="btn btn-lg btn-primary ">Login</button>
  						<button type="submit" class="btn  btn-lg btn-danger">Cancel</button>
  						<p>
	  						<a href="#">New User? Register here</a><br>
	  						<a href="#">Forgot Login Password</a><br>
	  						<a href="#">Forgot Username</a>
  						</p>
 				 	</form>
 				 </div>
			</div>
			</div>
		</div>
		<div class="col-sm-6" id="col2">
		</div>
	</div>
</div>